
{% extends "auth_base.html" %}
{% load  static %}
{% block  content %}

  <main>
    
    
    </div>
    
   
    
<section class="section section-lg">
	 <div class="container">
    {% include "dist/index.html" %}
</div>
</section>
  </main>
  <footer class="footer has-cards">
    <div class="container container-lg">
     
    </div>
    <div class="container">
      
      <hr>
      <div class="row align-items-center justify-content-md-between">
        <div class="col-md-6">
          <div class="copyright">
            &copy; 2019
            <a href="/" target="_blank">Shepherdinc</a>.
          </div>
        </div>
        <div class="col-md-6">
          <ul class="nav nav-footer justify-content-end">
            
            <li class="nav-item">
              <a href="/" class="nav-link" target="_blank">About Us</a>
            </li>
            
           
          </ul>
        </div>
      </div>
    </div>
  </footer>
{% endblock %}